<html>
    <head><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Results</title>
    </head>
    <body>
        <h1>Here is the value of your word:</h1>
        <h1>{{ result }}</h1>
        <div class= 'container'>
            <form action="/">
                    <div class= 'button'>
                        <button type = submit class='btn btn-warning'>Play again!</button>
                    </div>
                </form>

        </div>
    </body>
</html>
