<html>
    <head>
        <title>Scrabble</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <h2>Scrabble word counter</h2>
        <h4>Please enter a word!</h4>

        <div class= 'container'>
            <form action='/results'>
                <div class ='form-group'>
                    <input type='text' class='form-control' placeholder=
                    'word' name='word_form'>
                    <label for='word_form'></label>
                </div>



        <div class='button'>
                <button type='submit' class='btn btn-warning'>Submit</button>

        </div>
            </form>

        </div>
    </body>
</html>
